@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 30, /Users/dan/working/devfe-st/static/scss/animations.scss */
.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up;
}

/* line 3, /Users/dan/working/devfe-st/static/scss/utils.scss */
.background-image, .background, .pages .page {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 9, /Users/dan/working/devfe-st/static/scss/utils.scss */
.upper, h3, .header .title {
  text-transform: uppercase;
}

/* line 30, /Users/dan/working/devfe-st/static/scss/utils.scss */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 13, /Users/dan/working/devfe-st/static/scss/base.scss */
body, html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
  color: #111;
}

/* line 21, /Users/dan/working/devfe-st/static/scss/base.scss */
p {
  margin-bottom: 0.3125rem;
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 300;
  font-size: 1.4;
  line-height: 2rem;
}

/* line 29, /Users/dan/working/devfe-st/static/scss/base.scss */
pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #eee;
  font-family: monospace;
}

/* line 36, /Users/dan/working/devfe-st/static/scss/base.scss */
ul li {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 41, /Users/dan/working/devfe-st/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 43, /Users/dan/working/devfe-st/static/scss/base.scss */
strong, .bold {
  font-weight: 700;
}

/* line 45, /Users/dan/working/devfe-st/static/scss/base.scss */
img {
  max-width: 100%;
}

/* line 49, /Users/dan/working/devfe-st/static/scss/base.scss */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 54, /Users/dan/working/devfe-st/static/scss/base.scss */
input, textarea {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.3125rem;
}
/* line 59, /Users/dan/working/devfe-st/static/scss/base.scss */
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
}

/* line 69, /Users/dan/working/devfe-st/static/scss/base.scss */
h1, .h1, .header .title {
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 300;
  font-size: 6.5rem;
  line-height: 6.5rem;
}

/* line 75, /Users/dan/working/devfe-st/static/scss/base.scss */
h2, .h2 {
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 4rem;
}

/* line 81, /Users/dan/working/devfe-st/static/scss/base.scss */
h3, .h3, input {
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

/* line 87, /Users/dan/working/devfe-st/static/scss/base.scss */
h4, .h4 {
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: .625rem;
  text-transform: uppercase;
}

/* line 95, /Users/dan/working/devfe-st/static/scss/base.scss */
h5, .h5 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.625rem;
}

/* line 102, /Users/dan/working/devfe-st/static/scss/base.scss */
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

@media screen and (max-width: 1920px) {
  /* line 110, /Users/dan/working/devfe-st/static/scss/base.scss */
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 116, /Users/dan/working/devfe-st/static/scss/base.scss */
  html, body {
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 122, /Users/dan/working/devfe-st/static/scss/base.scss */
  html, body {
    font-size: 11px;
  }
}
@media screen and (max-width: 768px) {
  /* line 128, /Users/dan/working/devfe-st/static/scss/base.scss */
  html, body {
    font-size: 10px;
  }
}
/* line 3 */
a:hover {
  color: #bbb;
}

/* line 7 */
p.focus {
  margin-bottom: 2rem;
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
}
/* line 13 */
p.focus.focus-centered {
  text-align: center;
}

/* line 18 */
.body {
  width: 100%;
  height: 100%;
}

/* line 23 */
h3 {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

/* line 29 */
.background {
  height: 100vh;
  position: fixed;
  z-index: 0;
  width: 100%;
}

/* line 36 */
.body {
  position: absolute;
}

/* line 40 */
.centered {
  max-width: 70rem;
  margin: 35rem auto 30rem;
}

/* line 45 */
.pages {
  z-index: 1;
  width: 100%;
}
/* line 48 */
.pages .page {
  position: relative;
  background-color: rgba(50, 67, 122, 0.3);
  color: white;
  min-height: 100vh;
}
/* line 55 */
.pages .page .full-height {
  position: relative;
  height: 100vh;
}
/* line 60 */
.pages .page > .inner {
  padding: 1rem 1.5rem;
}
/* line 64 */
.pages .page.white {
  background-color: #eee;
  color: #111;
}

/* line 72 */
.page.with-nav .header {
  width: 100%;
  max-width: 70rem;
  background-color: rgba(238, 238, 238, 0.9);
}
/* line 77 */
.page.with-nav > .inner {
  max-width: 70rem;
}

/* line 83 */
nav {
  position: absolute;
  left: 73rem;
  background-color: #333;
  color: #eee;
  padding: 2rem 0;
  bottom: 0;
  right: 0;
  top: 0;
}
/* line 93 */
nav ul {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10rem;
  left: 0;
}
/* line 100 */
nav ul li a p {
  padding: 1rem 2rem;
}
/* line 103 */
nav ul.fixed {
  position: fixed;
  bottom: auto;
  left: auto;
}

/* line 112 */
input {
  background-color: transparent;
  border: 0;
  text-align: center;
  text-shadow: 1px 1px #111;
  -webkit-text-shadow: 1px 1px #111;
  -moz-text-shadow: 1px 1px #111;
  border-bottom: 1px solid #eee;
  color: #eee;
  outline: 0;
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
}
/* line 123 */
input::-webkit-input-placeholder {
  color: #bbb;
}
/* line 127 */
input:-moz-placeholder {
  /* Firefox 18- */
  color: #bbb;
}
/* line 131 */
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbb;
}
/* line 135 */
input:-ms-input-placeholder {
  color: #bbb;
}

/* line 140 */
footer {
  padding: 1rem;
  background-color: #333;
  color: #eee;
  text-shadow: 0 0 white;
  -webkit-text-shadow: 0 0 white;
  -moz-text-shadow: 0 0 white;
}

/* line 147 */
.registration {
  position: absolute;
  height: 2rem;
  width: 30rem;
  left: 50%;
  margin-left: -15rem;
  right: 0;
  bottom: 15rem;
  opacity: 0;
}
/* line 157 */
.registration input {
  width: 30rem;
}

/* line 162 */
.button {
  position: relative;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
}
/* line 169 */
.button.white {
  background-color: #eee;
  color: #111;
}
/* line 173 */
.button.white-inverse {
  border: 1px solid #eee;
  color: #eee;
}
/* line 176 */
.button.white-inverse:hover {
  background-color: #eee;
  color: #111;
}
/* line 182 */
.button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 186 */
.button a:hover {
  color: inherit;
}

/* line 193 */
.header {
  margin: -1rem 0 0 -1.5rem;
  padding: 1rem 1.5rem;
  position: absolute;
}
/* line 198 */
.header.fixed {
  position: fixed;
  top: 1rem;
  z-index: 100;
}
/* line 204 */
.header.bottom {
  position: absolute;
  bottom: 0;
}
/* line 209 */
.header.no-spacer + .header-spacer {
  display: none;
}
/* line 214 */
.header.blue .title {
  text-shadow: 0 0 #111;
  -webkit-text-shadow: 0 0 #111;
  -moz-text-shadow: 0 0 #111;
  color: #32437A;
}
/* line 218 */
.header.blue .subtitle {
  text-shadow: 0 0 #111;
  -webkit-text-shadow: 0 0 #111;
  -moz-text-shadow: 0 0 #111;
  color: #333;
}
/* line 224 */
.header .subtitle {
  text-shadow: 1px 1px #111;
  -webkit-text-shadow: 1px 1px #111;
  -moz-text-shadow: 1px 1px #111;
  margin-top: -1.5rem;
  color: #bbb;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Ariel sans-serif;
}
/* line 231 */
.header .title {
  text-shadow: 1px 1px #111;
  -webkit-text-shadow: 1px 1px #111;
  -moz-text-shadow: 1px 1px #111;
  margin-bottom: 1rem;
  color: #eee;
  margin-left: -0.25rem;
}
/* line 239 */
.header .title .bold {
  padding-right: 0.5rem;
}

/* line 244 */
.header-spacer {
  height: 6.5rem;
}
/* line 246 */
.header-spacer.with-subtitle {
  height: 10.5rem;
}

/* line 251 */
.fixed-spacer {
  height: 15rem;
  width: 100%;
}

/* line 256 */
.details {
  margin-top: 3rem;
}

/* line 260 */
footer p {
  margin-left: 1rem;
}

@media screen and (max-width: 640px) {
  /* line 265 */
  .title {
    font-size: 4rem;
  }
}
