{% extends "base.html" %}

{%- block css -%}
{{ super() }}
{% assets "scss_app" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{%- endblock -%}
{%- block bodyJs -%}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{%- endblock -%}


{% macro header(class, bold, thin, subtitle) %}
<div class="header {{class}}">
    <h1 class="title">
        <span class="bold">{{bold}}</span>{{thin}}
    </h1>
    {%- if subtitle or caller -%}
    <h2 class="subtitle">{{ caller() }}</h2>
    {%- endif -%}
</div>
<div class="header-spacer {%if subtitle %}with-subtitle{% endif %}">
</div>
{% endmacro %}


{%- block body -%}
<div class="background"
     style="background-image:url({{ url_for('static', filename='img/cover.jpg') }})">
</div>
<div class="body">
    <ul class="pages">
        <li id="register" class="page" data-page="1">
            <div class="inner">
                {% call header("white no-spacer fixed", "DevFest", "2015") %}
                    Build something <ul class="adjectives">
                        <li class="adjective active" data-no="1">amazing</li>
                        <li class="adjective" data-no="2">unexpected</li>
                        <li class="adjective" data-no="3">musical</li>
                        <li class="adjective" data-no="4">crazy</li>
                        <li class="adjective" data-no="5">sciencey</li>
                        <li class="adjective" data-no="6">for Columbia</li>
                    </u>
                {% endcall %}
                <div class="full-height first-page">
                    <div class="registration animated">
                        <form method="post" action="">
                            <input type="email"
                                   name="email"
                                   id="email"
                                   required
                                   spellcheck="false"
                                   autocomplete="off"
                                   placeholder="you@columbia.edu">
                            <label for="email">
                            {% if submit %}
                                <i class="submit-success fa fa-check-circle-o"></i> Thanks!  We'll be in touch.
                            {% else %}
                                Enter your email to receive updates
                            {% endif %}
                            </label>
                        </form>
                    </div>
                    <div class="scroll-down animated">
                        <a href="#down">
                            <p>Learn More</p>
                            <p><i class="fa fa-chevron-down"></i></p>
                        </a>
                    </div>
                </div>
                <div class="centered" id="down">
                    <p class="focus focus-centered">DevFest is Columbia's week-long workshop series and hackathon.  DevFest is about learning, community, and building amazing things with technology.</p>
                    <p class="focus focus-centered">Join us January 31st – February 7th.  Registration opens soon.</p>
                    <p class="focus focus-centered">
                        <a class="white-inverse button" href="#register">
                            Stay Informed
                        </a>
                    </p>
                </div>
            </div>
        </li>
        <footer>
            <div class="inner credits">
                <p>DevFest is organized by <a href="https://adicu.com">ADI</a>, at <a href="https://columbia.edu">Columbia University</a>. Questions?  <a href="mailto:devfest@adicu.com">Shoot us an email</a>.</p>
            </div>
        </footer>
    </ul>
</div>
{%- endblock -%}