@import 'base';
@import 'header';
@import 'navbar';
@import 'footer';
@import 'buttons';
@import 'registration';
@import 'sponsors';
@import 'faq';

.pages {
    z-index: 1;
    width: 100%;
    position: relative;
    height: 100%;
    .page {
        @extend .background-image;
        position: relative;
        color: white;

        .sub-page {
            position: relative;
            height: 50%;
            @include border-box;
        }

        & > .inner {
            background-color: rgba(50,67,122,0.5);
            position: relative;
            padding: 2rem;
            @include border-box;

            a {
                text-decoration: underline;
            }
        }

        &.white {
            background-color: $white;
            color: $black;
            .header {
                background-color: rgba(255,255,255,0.9)
            }
        }

        &.blue {
            background-color: $blue;
            color: $white;
            .header {
                background-color: rgba(50,67,122,0.9);
            }
        }
        &.with-nav > .inner {
            padding-right: $navbar-width + 2rem;
        }

        &.with-image {
            &:not(:first-child) {
                height: 120%;
                background-color: rgba(0,0,0,0);
                .inner {
                    height: 100%;
                    max-height: 100rem;
                }
            }
        }
    }
}

.background {
    @extend .background-image;
    position: fixed;
    z-index: -1;
    bottom: 0;
    top: 0;
    width: 100%;

    // &.bottom {
    //     position: absolute;
    //     bottom: 0;
    //     height: 100%;
    // }
    &.with-nav > .inner {
        right: $navbar-width;
    }
}