@import 'base';
@import 'header';
@import 'navbar';
@import 'footer';
@import 'buttons';
@import 'registration';
@import 'sponsors';
@import 'schedule';
@import 'judges';
@import 'faq';
@import 'curriculum';

.pages {
    z-index: 1;
    width: 100%;
    position: relative;
    height: 100%;
    .page {
        @extend .background-image;
        position: relative;
        color: white;

        .sub-page {
            position: relative;
            height: 50%;
            @include border-box;
        }
        &:first-child > .inner {
            background-color: rgba(50,67,122,0.5);
        }
        & > .inner {
            position: relative;
            padding: 2rem;
            @include border-box;

            a {
                text-decoration: underline;
            }
        }

        &.white {
            background-color: $white;
            color: $black;
            .header {
                background-color: rgba(255,255,255,0.9)
            }
            .inner a:hover {
                color: #bbb;
            }
        }

        &.blue {
            background-color: $blue;
            color: $white;
            .header {
                background-color: rgba(50,67,122,0.9);
            }
        }
        &.with-nav > .inner {
            padding-right: $navbar-width + 2rem;
        }

        &.with-image {
            &:not(:first-child) {
                height: 120%;
                background-color: rgba(0,0,0,0);
                .inner {
                    height: 100%;
                    max-height: 100rem;
                }
            }
        }
    }
}

.background {
    @extend .background-image;
    position: fixed;
    z-index: -1;
    bottom: 0;
    top: 0;
    width: 100%;

    &.with-nav {
        right: $navbar-width;
        left: 0;
        width: auto;

        .scrim {
            background-color: rgba(0,0,0,0.4);
            width: 100%;
            height: 100%;
        }

        .fading-logo {
            position: absolute;
            bottom: 20rem;
            top: $header-height;
            width: 100%;
            opacity: 0;
            padding: 2rem 0;

            i {
                height: 100%;
                width: 100%;
                display: block;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
        }
    }
}

#code-of-conduct {
    h3 {
        margin-bottom: 1rem;
    }
    .inner {
        min-height: 25rem;
    }
}

@media screen and (max-width: $tablet-landscape-max) {
    .pages .page {
        &.with-nav > .inner{
            padding-right: 1rem;
        }
        &:first-child > .inner {
            @include scrim(50, 67, 122);
        }
    }

    .background {
        &.with-nav {
            display: none;
        }

        &.hidden-desktop {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            right: 0;
            background-size: auto 75%;
            background-position: top center;
        }
    }

    #kickoff {
        height: auto;
        .background {
            background-size: cover;
        }
        img {
            margin-top: -12.5rem;
        }
    }
}