@import 'base';

.judges, .speakers {
	.judge {
		@include border-box;
		padding: 1rem;
		float: left;
		display: inline-block;

		img {
			width: 100%;
		}
	}
	.three-judges {
		@include clearfix;
		.judge {
			width: 33.333333%;
		}
	}
	.two-judges, .two-speakers {
		@include clearfix;
		margin-left: 16.666666%;
		margin-right: 16.666666%;
		.judge {
			width: 50%;
		}
	}
}

@media screen and (max-width: $tablet-landscape-max) {
	// .judges .two-judges {
	// 	margin: 0;
	// }
}

@media screen and (max-width: $phone-max) {
	.judges .two-judges, .judges .three-judges, .speakers .two-speakers {
		margin: 0;
		.judge {
			width: 100%;
		}
	}
}