@import 'base';

.judges, .speakers, .mentors {
	.judge {
		@include border-box;
		padding: 1rem;
		float: left;
		display: inline-block;

		img {
			width: 100%;
		}
	}
	.three-judges {
		@include clearfix;
		.judge {
			width: 33.333333%;
		}
	}
	.four-mentors {
		@include clearfix;
		.judge {
			width: 25%;
		}
	}
	.two-mentors {
		@include clearfix;
		margin-left: 25%;
		margin-right: 25%;
		.judge {
			width: 50%;
		}
	}
	.two-judges, .two-speakers {
		@include clearfix;
		margin-left: 16.666666%;
		margin-right: 16.666666%;
		.judge {
			width: 50%;
		}
	}
	.one-mentor {
		@include clearfix;
		margin-left: 37.5%;
		margin-right: 37.5%;
		.judge {
			width: 100%;
		}
	}
	.three-mentors {
		@include clearfix;
		margin-left: 12.5%;
		margin-right: 12.5%;
		.judge {
			width: 33.333333%;
		}
	}
}

@media screen and (max-width: $phone-max) {
	.judges, .speakers, .mentors {
		& > div {
			margin: 0 !important;
			.judge {
				width: 100% !important;
			}
		}
	}
}