@import 'base';



nav {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: $navbar-width;
    background-color: $offgray;
    color: $white;
    z-index: 1000;

	&.fixed {
		position: fixed;
	}
	small h1 {
		padding: 2rem 2rem 1rem;
		font-size: 2rem;
		line-height: 2rem;
	}
    ul {
        width: $navbar-width;
        width: 100%;
        position: relative;
        z-index: 1000;

        li {
        	@include border-box;
        	width: 100%;
        	z-index: 1000;
        	a p {
        		@include border-box;
	            padding: 1rem 2rem;
	            width: 100%;
	            margin-bottom: 0;
	            &:hover {
	            	background-color: rgba(255,255,255,0.2);
	            }
	        }
        }
        &.bottom {
            position: absolute;
            bottom: 0;
        }
        &.triple {
        	@include clearfix;
        	li {
        		width: 33.333333%;
        		display: inline-block;
        		float: left;
        		&:first-child {
        			text-align: left;
        		}
        		&:nth-child(2) {
        			text-align: center;
        			a p {
        				padding: 1rem 0;
        			}
        		}
        		&:nth-child(3) {
        			text-align: right;
        		}
        	}
        }
    }
}

