@import 'base';

.top-prizes {
	@include clearfix;
	.prize {
		width: 33.333333%;
		display: inline-block;
		float: left;
		@include border-box;
		text-align: center;
		padding: 2rem 1rem;

		&.second, &.third {
			margin-top: 1.5rem;
		}
	}
}

.two-prizes {
	@include clearfix;
	text-align: center;
	.prize {
		padding: 2rem 1rem;
		width: 45%;
		display: inline-block;
		@include border-box;
		text-align: center;

		img {
			height: 5rem;
		}

	}
}