@import 'base';

p.focus {
    @extend .h3;
    text-transform: none !important;
    margin: 0 auto 2rem;
    &.focus-centered {
        text-align: center;
    }
    a {
        text-decoration: none !important;
    }
}

.scroll-down {
    position: absolute;
    bottom: 3rem;
    width: 10rem;
    left: 50%;
    margin-left: -5rem;
    text-align: center;
    opacity: 0;
    a {
        text-decoration: none !important;
    }
    p {
        margin: 0;
        line-height: 1.2rem;
    }
}

.centered {
    max-width: $content-width;
    padding: 20rem 0 0;
    margin: 0 auto;
}

#register {
    height: 200%;
    min-height: 100rem;
    position: relative;
    & > .inner {
        height: 100%;
        background-color: rgba(50,67,122,0.5);
        position: absolute;
        left: 0;
        right: 0;
    }
}

#register-button {
    @extend .h3;
}

#registration-form {
    position: relative;
    .submit-success {
        position: absolute;
        right: -1rem;
        top: 1rem;
        font-size: 2.5rem;
        line-height: 3.5rem;
        vertical-align: middle;
        padding: 0.3125rem
    }

    input {
        @extend .h3;
        background-color: rgba(0,0,0,0);
        border: 0;
        text-align: center;
        @include text-shadow(1px, 1px, $black);
        border-bottom: 1px solid $white;
        color: $white;
        outline: 0;
        font-family: $sans;
    }
}

.registration {
    position: absolute;
    height: 2rem;
    width: 30rem;
    left: 50%;
    margin-left: -15rem;
    right: 0;
    bottom: 20rem;
    opacity: 0;
    text-align: center;
    label {
        display: block;
        margin-top: 1rem;
        @include text-shadow(1px,1px, $black);
    }
    input {
        width: 30rem;
    }
}

@media screen and (max-width: $tablet-landscape-max) {
    .centered {
        padding-top: 20rem;
    }
}

@media screen and (max-width: $phone-max) {
    .centered {
        padding-top: 10rem;
    }
    p.focus {
        width: 90%;
        margin-bottom: 2rem;
        font-size: 1.2rem !important;
        line-height: 2rem !important;
    }
}

@media screen and (max-height: $phone-landscape-height-max) {
    .registration {
        bottom: 12rem;
    }
    .centered {
        padding-top: 2rem;
        br {
            display: none;
        }
    }
}