@import 'base';

$event-height: 8rem;
$shortform-width: 20rem;
$header-height: 8.5rem;
$sidebar-padding: 1rem;

.days-longform {
	padding-left: $shortform-width;
	margin-top: -3rem;
	.day {
		@include clearfix;

		h2 {
			padding-top: 1rem;
			margin-top: 1rem;
		}
		.events {
			@include clearfix;
			margin: 1rem 0;
		}
		.event {
			@include border-box;
			padding-top: 1rem;
			h5 {
				margin: 0;
			}
			img {
				height: 5rem;
				display: block;
				margin: 0 auto;
			}
		}
		.subsection {
			margin-top: 2rem;
			padding-right: 1rem;
			@include border-box;
			float: left;
			width: 50%;
			display: inline-block;
		}
	}
}

.shortform-sidebar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: $shortform-width;
	@include border-box;
	background-color: $ultralightgray;
	overflow: scroll;
	& > .inner {
		padding-top: $header-height;
	}

	.day {
		h4 {
			background-color: $verylightgray;
			padding: 0.5rem $sidebar-padding;
		}
		a, a:hover {
			text-decoration: none !important;
			color: inherit !important;
		}
		.events {
			padding: 0.5rem 0;

			strong {
				padding: 1rem 1rem 0rem;
				display: block;
			}
			.event {
				padding: 0 $sidebar-padding;
				p {
					margin: 0;
				}
				&:hover {
					background-color: $verylightgray;
				}
			}
		}
	}
	&.fixed {
		position: fixed;

		&.bottom {
			position: absolute;
			bottom: 0;
			& > .inner {
				position: absolute;
				bottom: 0;
			}
		}
	}
	&::-webkit-scrollbar {
	    display: none;
	}
}

@media screen and (max-width: $phone-max) {
	.shortform-sidebar {
		display: none;
	}
	.days-longform {
		padding-left: 0;

		.day .subsection {
			width: 100%;
		}
	}
}